@{
    ViewBag.Title = "Hakkımızda";
}
		<!-- start breadcrumb -->
<section class="breadcrumb_main_area">
    <!-- <div class="container-fluid"> -->
    <div class="row">
        <div class="breadcrumb_main nice_title content-center">

            <img src="~/images/hakkimizda1.png" alt="">
        </div>
    </div>
    <!-- </div>  -->
</section>
<!-- end breadcrunb -->
<!-- start We Offer Best area -->
<section class="we_offer_best_area section-padding content-center">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="section_title nice_title">
                    <h4>Hakkımızda</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="section_content clearfix">
                <div class="col-md-12 col-sm-12">
                    <p>Edirne Taşımacılık olarak mutluyuz çünkü sizlerin güveninizi kazanıyoruz. Yıllardır kalite çizgisini bozmadan yoluna emin adımlarla devam eden Edirne Taşımacılık bu sektörde hizmet veren firmalar arasında referans müşteri potansiyeli en fazla talep gören firmalar arasında yer almaktadır. Çünkü işimizi gerektiği gibi ve size verdiğimiz sözler doğrultusunda , hakkettiğiniz hizmeti sunarak yapıyoruz. Edirne Taşımacılık olarak kaliteli ve ilkeli sunduğumuz hizmetlerden şaşmadan yoluna devam edeceğiz.</p>
                    <br />
                    <p>Bizi Tercih  Ettiğiniz İçin Teşekkür Ederiz.</p>
                </div>
            </div>
        </div>
    </div>
</section>

