
@{
    ViewBag.Title = "Hizmetlerimiz";
}

<section class="from_our_blog_area section-padding content-center">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="section_title nice_title">
                    <h4>Hizmetlerimiz</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="section_content">
                <div class="col-md-4">
                    <div class="row">
                        <div class="single_blog_post_home">
                            <div class="col-md-11 col-sm-11 col-xs-10">
                                <div class="single_blog_info">
                                    <img src="~/images/evdeneve.png" alt="">
                                    <h6><a href="single-blog.html">Evden Eve Taşımacılık</a></h6>
                                    <p>
                                        Evden eve taşımacılık taleplerinizde hizmet veren nakliyat şirketlerinin sayıları her geçen gün artmaktadır. Ancak taşınma sürecinin sorunsuz bir şekilde gerçekleşmesi için profesyonel ve kaliteli hizmet veren bir ekip ile çalışılması çok önemlidir. Edirne Taşımacılık; taşımacılık taleplerinizin tümünü yenilenen araç filosu, deneyimli personeli ve sigortalı taşımacılık anlayışı ile sürdürmektedir. Yeni yuvanıza huzurlu ve mutlu bir şekilde taşınmanızı sağlamak amacı ile hizmetinizdeyiz.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="single_blog_post_home">
                            <div class="col-md-11 col-sm-11 col-xs-10">
                                <div class="single_blog_info">
                                    <img src="~/images/sehirlerarasi.png" alt="">
                                    <h6><a href="single-blog.html">Şehirler Arası Evden Eve Taşımacılık</a></h6>
                                    <p>
                                       Şehirler arası taşımacılık operasyonlarımızda eşyalarınıza zarar gelmemesi büyük önem arz etmektedir. Bu noktada elimizden gelen çabayı göstermekteyiz. Yüzlerce hatta binlerce kilometre uzaklıktaki yeni evinize taşınırken aklınızda soru işareti kalmaması adına sizleri süreç ile ilgili sürekli bilgilendirmekteyiz.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="single_blog_post_home">
                            <div class="col-md-11 col-sm-11 col-xs-10">
                                <div class="single_blog_info">
                                    <img src="~/images/ofis.png" alt="">
                                    <h6><a href="single-blog.html">Ofis ve İşyeri Taşımacılığı</a></h6>
                                    <p>
                                        Vermiş olduğumuz tüm ofis ve işyeri taşımacılığı hizmetlerinde müşteri memnuniyeti hedeflerimize ulaşarak farkımızı ortaya koyuyoruz. Profesyonel çalışma yaşamında çalışma ortamının sizlerin çalışmalarını ne derece etkilediğini çok iyi biliyoruz. Yılların verdiği tecrübe ile artık uzmanlaştığımız ofis ve işyeri taşımacılığı hizmetimiz ile siz değerli müşterilerimize rahat ve konforlu bir çalışma ortamı hazırlamaktayız.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="section_content">
                <div class="col-md-4">
                    <div class="row">
                        <div class="single_blog_post_home">
                            <div class="col-md-11 col-sm-11 col-xs-10">
                                <div class="single_blog_info">
                                    <img src="~/images/fuar.png" alt="">
                                    <h6><a href="single-blog.html">Fuar Standı Nakliye ve Kurulum</a></h6>
                                    <p>
                                        Fuar Taşımacılığı hizmetiyle katılacağınız fuar, kongre, seminer, tanıtım vb. gibi organizasyonları başarı ile sonuçlanmasına yardımcı olabilmek için, sizi sadece "satış odaklı" kılabilmek adına, katılacağınız etkinlik nerede olursa olsun, kalite ve deneyimiyle sizleri tam zamanında, organizasyonun her aşamasını ele alarak, müşterilerinizle buluşturuyoruz.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="single_blog_post_home">
                            <div class="col-md-11 col-sm-11 col-xs-10">
                                <div class="single_blog_info">
                                    <img src="~/images/antika.png" alt="">
                                    <h6><a href="single-blog.html">Sanat Eseri ve Antika Taşımacılığı</a></h6>
                                    <p>
                                        Sanat eserleri ve antika taşımaclığı konusunda uzman çözümler sunuyoruz. Yıllardır hizmet sunan firmamızın antika ve sanat eseri taşımacılığı konusunda bir çok tecrübesi bulunmaktadır.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="single_blog_post_home">
                            <div class="col-md-11 col-sm-11 col-xs-10">
                                <div class="single_blog_info">
                                    <img src="~/images/ekspertiz.png" alt="">
                                    <h6><a href="single-blog.html">Ücretsiz Ekspertiz</a></h6>
                                    <p>
                                        Ücretsiz ekspertiz hizmeti eşyalarınızın sayısı, kaplayacağı alan ve gereksinim duyulacak nakliyat aracı açısından önem arz etmektedir. Ücretsiz Ekspertiz Hizmeti doğrultusunda plan belirlenir ve sizlere daha sağlıklı TEK FİYAT verilir. Dilerseniz gerekli sözleşmeler de yapılır.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="section_content">
                <div class="col-md-4">
                    <div class="row">
                        <div class="single_blog_post_home">
                            <div class="col-md-11 col-sm-11 col-xs-10">
                                <div class="single_blog_info">
                                    <img src="~/images/sigortali.png" alt="">
                                    <h6><a href="single-blog.html">Sigortalı Evden Eve Nakliyat</a></h6>
                                    <p>
                                        Edirne Taşımacılık olarak eşyalarınızın hasar görmemesi için azami çaba sarfederken, eşyalarınızı olası hasarlara karşı güvence altına alabilmek adına sigortalıyoruz. Herhangi bir hasar durumunda da sigorta değerini siz değerli müşterilerimize ödüyoruz.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="single_blog_post_home">
                            <div class="col-md-11 col-sm-11 col-xs-10">
                                <div class="single_blog_info">
                                    <img src="~/images/villa.png" alt="">
                                    <h6><a href="single-blog.html">Villa Taşımacılığı</a></h6>
                                    <p>
                                        Edirne Taşımacılık olarak yıllardır verdiğimiz villa taşımacılığı hizmetinde de uzman hale geldik.Villa taşımacılığı eşya yoğunluğundan dolayı detaylı planlanması gereken bir iştir. Paketleme bu işin en önemli kısmıdır. Konusunda uzman çalışanlarımız ekspertizimizin ziyaretinden hemen sonra istediğiniz tarihte gelerek eşyalarınızı paketlemeye başlar ve taşımacılık faaliyetinizi gerçekleştirir.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="single_blog_post_home">
                            <div class="col-md-11 col-sm-11 col-xs-10">
                                <div class="single_blog_info">
                                    <img src="~/images/tekstil.png" alt="">
                                    <h6><a href="single-blog.html">Tekstil Taşımacılığı</a></h6>
                                    <p>
                                       Tekstil taşımacılığı alanında hizmet veren firmamız, kapalı kasa nakliyat araçlarında sadece askılı aparatların yer aldığı donanımlı nakliye araçları ile tekstil firmalarının ütülü tekstil ürünlerinin taşınmasında nakliye çalışamları sunmaktayız. Ciddi emekle üretimi yapılan ve ütülü tekstil ürünlerinizin teslimat adresinize alındığı gibi teslim edilmesi için elimizden gelen çalışmaları gerçekleştirmekteyiz.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="section_content">
                <div class="col-md-4">
                    <div class="row">
                        <div class="single_blog_post_home">
                            <div class="col-md-11 col-sm-11 col-xs-10">
                                <div class="single_blog_info">
                                    <img src="~/images/kamu.png" alt="">
                                    <h6><a href="single-blog.html">Kamu Kurum Taşımacılığı</a></h6>
                                    <p>
                                        Kurumsal taşımacılık kapsamı içerisinde değerlendireceğimiz ofis büro nakliye hizmetimiz ile özel çözümler üretmekte ve yeni ofislerine sorunsuz bir biçimde taşınmalarını sağlamaktayız.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="single_blog_post_home">
                            <div class="col-md-11 col-sm-11 col-xs-10">
                                <div class="single_blog_info">
                                    <img src="~/images/piyano.png" alt="">
                                    <h6><a href="single-blog.html">Piyano Taşımacılığı</a></h6>
                                    <p>
                                        Piyano ağır olmakla beraber taşıması zor narin yapıya sahiptir.
                                        Piyano taşımacılıgı için hazırlanmış olan özel kasa araçlarımız ile bu tip sorunların yaşamasına izin vermiyoruz.Özel eğitim almış personellerimiz tarafından piyanonuz değerinden sigortalanıp güvenli bir şekilde taşıma işlemi yapılıyor.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="single_blog_post_home">
                            <div class="col-md-11 col-sm-11 col-xs-10">
                                <div class="single_blog_info">
                                    <img src="~/images/magaza.png" alt="">
                                    <h6><a href="single-blog.html">Mağaza Taşımacılığı</a></h6>
                                    <p>
                                        Mağaza taşımacılığı işlemleri yürütülürken mağazaların göstermiş olduğu faaliyet koluna göre bir taşıma yöntemi belirlenir. Bir kıyafet mağazasının taşınması söz konusuysa firmamız kıyafetleri kırıştırmadan taşıma işlemleri yürütmek için büyük çaba gösterir. Bir kıyafet mağazasında kıyafetlerin düzgün ve kırışık olmaması müşterilere hitap etmenin ön koşulu olduğunu bilen firmamız taşıma işlemlerini yürütürken askılı tekstil taşıma sistemi bulunan araçlar kullanmaktadır.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="section_content">
                <div class="col-md-4">
                    <div class="row">
                        <div class="single_blog_post_home">
                            <div class="col-md-11 col-sm-11 col-xs-10">
                                <div class="single_blog_info">
                                    <img src="~/images/kasa.png" alt="">
                                    <h6><a href="single-blog.html">Para Kasası Taşımacılığı</a></h6>
                                    <p>
                                        Para Kasası taşımacılığı hizmetlerini banka veya kurumsal firmalara sunan nakliye şirketimiz, bugüne kadar onlarca firmanın, milyar dolar değerinde ki kasalarını transfer merkezine ulaştırmıştır. Bu alanda yapılan çalışmalar ile beraber sorunsuz bir taşımacılık hizmetini ele alma durumu söz konusu olabilmektedir. Türkiye’de lider konum elde eden firmamız, en cazip hizmetlerden faydalanabilmeniz adına var olan hizmet olanaklarını arttırmaktadır.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="single_blog_post_home">
                            <div class="col-md-11 col-sm-11 col-xs-10">
                                <div class="single_blog_info">
                                    <img src="~/images/dershane.png" alt="">
                                    <h6><a href="single-blog.html">Dershane Taşımacılığı</a></h6>
                                    <p>
                                        Dershane taşımacılık hizmeti almaya karar verdiğinizde ücretsiz eksperimiz dershanelerinize gelerek ilk olarak keşif hizmeti sağlar. Taşınacak olan eşyanın miktarının incelenmesi, kaç personel çalışacağı, eşyalarınızın taşıyacak olan aracın boyut ve miktar boyutunun belirlenmesi gibi hususları değerlendirerek önceden bir çalışma programı hazırlar. Buradaki tespitimizdeki en büyük amaç taşınma günü hiçbir aksiliğin yaşanmaması bakımından yapılmaktadır. Eşyaların ekspertiz tespiti yapıldıktan sonra taşıma günü öncesinden eşyalara anlaşmalı çalışmış olduğumuz sigorta firmaları tarafından ücretsiz sigorta yapılarak eşyalarınızın güvenliği sağlanmış olmaktadır.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="single_blog_post_home">
                            <div class="col-md-11 col-sm-11 col-xs-10">
                                <div class="single_blog_info">
                                    <img src="~/images/depo.png" alt="">
                                    <h6><a href="single-blog.html">Depo ve Fabrika Taşımacılığı</a></h6>
                                    <p>
                                        Fabrikaların taşınma süreci içerisinde ilk olarak öncelikle yapılması gereken şey araştırma yapılma sürecidir. Fabrika içerisinde yapılan keşif ile kullanılacak ekipmanlar, araçlar ve çalışacak personellerin belirlenmesi gibi hususlar değerlendirilerek doğru ve güvenli bir şekilde taşınmanın sağlanması yapılır. Tüm taşıma hususları değerlendirildikten sonra ise size uygun taşıma fiyatının belirlenmesi yapılır.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

