@{
    ViewBag.Title = "Anasayfa";
}

    		<!-- Start Mail Slider Area -->
<div class="main_slider_area">
    <div class="tp-banner-container">
        <div class="tp-banner">
            <ul>
                <li data-transition="slidedown" data-slotamount="1" data-masterspeed="1500" data-delay="15000" data-saveperformance="off">
                    <img src="~/images/slider1.png" alt="kenburns6" data-bgposition="center top" data-kenburns="on" data-duration="16000" data-ease="Linear.easeNone" data-bgfit="110" data-bgfitend="100" data-bgpositionend="center center">
                </li>
                <li data-transition="slidedown" data-slotamount="1" data-masterspeed="1500" data-delay="15000" data-saveperformance="off">
                    <img src="~/images/slider2.png" alt="kenburns6" data-bgposition="center top" data-kenburns="on" data-duration="16000" data-ease="Linear.easeNone" data-bgfit="110" data-bgfitend="100" data-bgpositionend="center center">
                </li>
                <li data-transition="slidedown" data-slotamount="1" data-masterspeed="1500" data-delay="15000" data-saveperformance="off">
                    <img src="~/images/slider3.png" alt="kenburns6" data-bgposition="center top" data-kenburns="on" data-duration="16000" data-ease="Linear.easeNone" data-bgfit="110" data-bgfitend="100" data-bgpositionend="center center">
                </li>
            </ul>
            <div class="tp-bannertimer"></div>
        </div>
    </div>
</div>
<!-- End Mail Slider Area -->
<!-- start why us area -->
<section class="why_us_area section-padding content-center whitesmoke-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="section_title nice_title">
                    <h4>PROFESYONEL EŞYA TRANSFERİ</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="section_content clearfix">
                <div class="col-md-4 col-sm-4">
                    <div class="single_why_us">
                        <div class="single_why_hover"></div>
                        <img src="~/images/target.png"/>
                        <h5>Müşteri Memnuniyeti</h5>
                        <p>
                            Firmamız siz kıymetli müşterilerimizin eşyalarını güvenli taşımak için özverili bir çalışma yürütür.
                        </p>

                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="single_why_us">
                        <div class="single_why_hover"></div>
                        <img src="~/images/clock.png"/>
                        <h5>7 Gün 24 Saat Hizmet</h5>
                        <p>
                            İletişim numaralarımızdan bize her zaman ulaşabilir, taşımacılık taleplerinizi iletebilirsiniz.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="single_why_us">
                        <div class="single_why_hover"></div>
                        <img src="~/images/person.png"/>
                        <h5>Uzman Personel</h5>
                        <p>
                            İşinde uzman ve tecrübeli ekip arkadaşlarımızla eşyalarınızı güvenli bir şekilde taşıyoruz.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End why us area -->

<!-- Start Counter -->
<section class="logistic_counter_area" style="background-color:#ffce00;">
    <div class="container">
        <div class="row">
            <div class="logistic_counter clearfix">
                <div class="col-md-3 col-sm-6">
                    <div class="single-counter">
                        <img src="images/project-done.png" alt="project-done">
                        <span class="counter">81</span>
                        <h4>İle Taşımacılık</h4>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-counter">
                        <img src="images/countries-covered.png" alt="project-done">
                        <span class="counter">12056</span>
                        <h4>Mutlu Müşteri Sayısı</h4>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-counter">
                        <img src="images/years-of-experience.png" alt="project-done">
                        <span class="counter">18</span>
                        <h4>Yıllık Deneyim</h4>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="single-counter">
                        <img src="images/brances.png" alt="project-done">
                        <span class="counter">5600</span>
                        <h4>Başarılı Nakliyat Sayısı</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Counter -->

<!-- start Weare Best Area -->
<section class="weare_best_area section-padding content-center">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="section_title nice_title">
                    <h4>Hizmet Anlayışımız</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="section_content clearfix">
                <div class="col-md-4">
                    <div class="weare_best_left_service">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="single_weare_best clearfix margin-bottom-80">
                                    <dl>
                                        <dt>Güvenli Taşımacılık</dt>
                                        <dd>
                                            Eşyalarınızı güvenli bir şekilde, profesyonel çalışanlarımızla araçlarımıza yüklüyoruz.Eşyalarınızı hasarlara karşı koruyoruz.
                                        </dd>
                                    </dl>
                                    <i><img alt="" src="~/images/guvenlik.png" style="width:55px;"></i>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="single_weare_best clearfix">
                                    <dl>
                                        <dt>Hızlı Taşımacılık</dt>
                                        <dd>Eşyalarınızı ulaştırmak istediğiniz adrese zamanında teslim ediyoruz. İhtiyaç duyduğunuz sayıda araçla en kısa sürede hizmetinizdeyiz.
                                        </dd>
                                    </dl>
                                    <i><img alt="" src="~/images/hizli.png" style="width:55px;"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="weare_best_img_service">
                        <img src="images/koli1.png" alt="">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="weare_best_right_service">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="single_weare_best clearfix margin-bottom-80">
                                    <dl>
                                        <dt>Sigortalı Taşımacılık</dt>
                                        <dd>Eşyalarınızı olası hasarlara karşı güvence altına alıyoruz.
                                        </dd>
                                    </dl>
                                    <i><img alt="" src="~/images/sigorta.png" style="width:55px;"></i>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="single_weare_best clearfix">
                                    <dl>
                                        <dt>Özenli Taşımacılık</dt>
                                        <dd>Eşyalarınızı sevgi ve özenle taşıyoruz.
                                        </dd>
                                    </dl>
                                    <i><img alt="" src="~/images/ozenli.png" style="width:55px;"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Weare Best Area -->


<!-- Start Our Clients Area -->
<section class="our_clients_area section-padding content-center">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="section_title nice_title">
                    <h4>HİZMETLERİMİZ</h4>
                    <p>
                        Edirne Taşımacılık İle Eşya Taşımak Artık Çok Kolay!
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="logo_caro">
                    <div class="client-carousel">
                        <div class="item">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="single_blog_post_home">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="single_blog_info">
                                                <img src="~/images/evdeneve.png" alt="">
                                                <h6><a href="/hizmetlerimiz">Evden Eve Nakliyat</a></h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="single_blog_post_home">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="single_blog_info">
                                                <img src="~/images/sehirlerarasi.png" alt="">
                                                <h6><a href="/hizmetlerimiz">Şehirler Arası Evden Eve Nakliyat</a></h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="single_blog_post_home">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="single_blog_info">
                                                <img src="~/images/ofis.png" alt="">
                                                <h6><a href="/hizmetlerimiz">Ofis ve İşyeri Taşıma</a></h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="single_blog_post_home">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="single_blog_info">
                                                <img src="~/images/magaza.png" alt="">
                                                <h6><a href="/hizmetlerimiz">Mağaza Taşıma</a></h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="single_blog_post_home">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="single_blog_info">
                                                <img src="~/images/fuar.png" alt="">
                                                <h6><a href="/hizmetlerimiz">Fuar Standı Nakliye ve Kurulum</a></h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="single_blog_post_home">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="single_blog_info">
                                                <img src="~/images/antika.png" alt="">
                                                <h6><a href="/hizmetlerimiz">Sanat Eseri ve Antika Taşımacılığı</a></h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="single_blog_post_home">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="single_blog_info">
                                                <img src="~/images/sigortali.png" alt="">
                                                <h6><a href="/hizmetlerimiz">Sigortalı Evden Eve Nakliyat</a></h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="single_blog_post_home">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="single_blog_info">
                                                <img src="~/images/villa.png" alt="">
                                                <h6><a href="/hizmetlerimiz">Villa Taşımacılığı</a></h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="single_blog_post_home">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="single_blog_info">
                                                <img src="~/images/tekstil.png" alt="">
                                                <h6><a href="/hizmetlerimiz">Tekstil Taşımacılığı</a></h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="single_blog_post_home">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="single_blog_info">
                                                <img src="~/images/kamu.png" alt="">
                                                <h6><a href="/hizmetlerimiz">Kamu Kurum Taşımacılığı</a></h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="single_blog_post_home">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="single_blog_info">
                                                <img src="~/images/piyano.png" alt="">
                                                <h6><a href="/hizmetlerimiz">Piyano Taşımacılığı</a></h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="single_blog_post_home">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="single_blog_info">
                                                <img src="~/images/kasa.png" alt="">
                                                <h6><a href="/hizmetlerimiz">Para Kasası Taşımacılığı</a></h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="single_blog_post_home">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="single_blog_info">
                                                <img src="~/images/ekspertiz.png" alt="">
                                                <h6><a href="/hizmetlerimiz">Ücretsiz Ekspertiz</a></h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="single_blog_post_home">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="single_blog_info">
                                                <img src="~/images/depo.png" alt="">
                                                <h6><a href="/hizmetlerimiz">Depo ve Fabrika Taşımacılığı</a></h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="single_blog_post_home">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="single_blog_info">
                                                <img src="~/images/dershane.png" alt="">
                                                <h6><a href="/hizmetlerimiz">Dershane Taşımacılığı</a></h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Our Clients Area -->

