{% extends "base-for-url.html" %}

{% load staticfiles %}

{% block page_content %}

    <div class="row">
        <div class="col-md-12">
            <div class="white-box">
                <div class="row">
                    <div class="col-md-6">
                        <div class="white-box">
                            <h3 class="box-title m-b-0">YENİ GÖREV</h3>
                            <p class="text-muted m-b-30 font-13"> Görev Adı / Kime atanacağı / Görevin Müşterisi / Görevin Projesi </p>
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <form method="POST">
                                        {% for field in form %}
                                            <label>{{ field.label }}</label>
                                            <input type="{{ field.field.widget.input_type }}"
                                                   name="{{ field.html_name }}" class="form-control"
                                                   placeholder="{{ field.label }}" required autofocus>
                                            <br/>
                                        {% endfor %}
                                        <label>Çalışanlar</label>
                                        <select class="form-control" id="user-select" name="user-select">
                                        {% for k in tum_kullanicilar %}

                                                <option name="kullanici" value="{{ k.username }}"
                                                        id="{{ k.id }}">{{ k.username }}</option>
                                        {% endfor %}
                                        </select>
                                        <br/>
                                        <label>Müşteri</label>
                                        <select class="form-control" id="user-select" name="musteri-select">

                                            {% for m in tum_musteriler %}
                                                <option name="musteri" value="{{ m.title }}"
                                                        id="{{ m.id }}">{{ m.title }}</option>
                                            {% endfor %}
                                        </select>
                                        <br/>
                                        <label>Proje</label>
                                        <select class="form-control" id="user-select" name="proje-select">

                                            {% for p in tum_projeler %}
                                                <option name="proje" value="{{ p.title }}"
                                                        id="{{ p.id }}">{{ p.title }}</option>
                                            {% endfor %}
                                        </select>
                                        <br/>

                                        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"/>
                                        <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                                            Kaydet
                                        </button>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock page_content %}