<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>RidersofÇomü</title>
		<meta name="description" content="Riders of Çomü | Honda Safety Türkiye">
		<meta name="author" content="RidersofÇOMÜ">
		
		<!-- Mobile Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		
		<!-- Put favicon.ico and apple-touch-icon(s).png in the images folder -->
	    <link rel="shortcut icon" href="{{ STATIC_URL }}static/comingsoon/favicon.ico">
		    	
		<!-- CSS StyleSheets -->
		<link href='https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="{{ STATIC_URL }}static/comingsoon/assets.css">
		
		<link rel="stylesheet" href="{{ STATIC_URL }}static/comingsoon/style.css">
		<link id="theme_css" rel="stylesheet" href="{{ STATIC_URL }}static/comingsoon/light.css">
		
		<!--[if lt IE 9]>
	    	<script type="text/javascript" src="assets/js/html5.js"></script>
	    <![endif]-->
		
		<!-- Skin CSS file -->
		<link id="skin_css" rel="stylesheet" href="{{ STATIC_URL }}static/comingsoon/default.css">

		<style>

		</style>
    </head>
	<body class="soon-page" style="background-image: url('/media/honda-cbr-1000rr.jpg'); no-repeat 0 0; background-size:cover;">

	    
	    <div class="pageWrapper animsition">

			<!-- Content Start -->
			<div id="contentWrapper">
				
				<div class="container">
					<div class="row">
					
						<div class="clearfix over-hidden">
							<!-- Logo start -->
					    	<div class="logo soon-logo shape" style="width: 120px; background-color: white; ">
						    	<a href="https://www.instagram.com/ridersofcomu17/"><img alt="" src="{{ MEDIA_URL }}media/roc.jpg"></a>
						    </div>
						    <!-- Logo end -->
						    
						</div>
										    
					    <div class="t-center">
					    	<br><br>
					    	<div class="soon-heading" style="background-color:rgba(255,255,255,0.5); border-radius: 20%">

                                <h1 class="bold soon-lg-head"  style="color: #000000;" >Honda Safety Türkiye</h1>
					    	
						    	<h1 class="bold uppercase"  style="color: #000000; ">Güvenlİ Sürüş Semİnerİ</h1>
						    	
						    	<h2 class="uppercase"  style="color: #000000; ">Prof. Dr. Türkan Saylan Sosyal Tesİslerİ</h2>

                                <h4 class=" uppercase" style="color: #000000; ">ÇANAKKALE</h4>
<br><br>
					    	</div>

					    	<div id="holder" style="color: #000000;">
								<div class="count-down" style="color: #000000;">
									<div class="digits" style="color: #000000;"></div>
								</div>
							</div>
						    	
{#					    	<div class="soon-form">#}
{#						    	<form method="post" action="#">#}
{#									<input type="text" class="shape" required="required" name="login-user" placeholder="Bizden Haberdar Olmak İster Misiniz?">#}
{#									<input type="submit" class="btn btn-xl main-bg shape btn-soon" value="Kaydol">#}
{#		    				    </form>#}
{#					    	</div>#}
					    	
					    </div>
					    
					</div>
				</div>
				
			</div>
			<!-- Content End -->
			
			<div class="container">
			    <div class="row">
				    
				    <!-- footer social links right cell start -->
				    <div class="centered padding-vertical-25">
				    	<ul class="social-list minimal-socials">
						    <li class="lg-icon white-border shape"><a href="https://plus.google.com/u/0/117923235180866394464" class="fa fa-google-plus white"></a></li>
						    <li class="lg-icon white-border shape"><a href="https://www.facebook.com/ridersofcomu" class="fa fa-facebook white"></a></li>
						    <li class="lg-icon white-border shape"><a href="https://twitter.com/RidersOfComu" class="fa fa-twitter white"></a></li>
                            <li class="lg-icon white-border shape"><a href="https://www.youtube.com/channel/UC4tModIXdjIk-l_92FLAhdg" class="fa fa-youtube white"></a></li>
                            <li class="lg-icon white-border shape"><a href="https://www.instagram.com/ridersofcomu17/" class="fa fa-instagram white"></a></li>
					    </ul>
				    </div>
				    <!-- footer social links right cell end -->
				    <div class="clearfix margin-bottom-15"></div>
				    <!-- footer copyrights left cell -->
		    		<div class="copyrights centered white">© <b class="main-color">DCK & RidersofÇOMÜ</b> 2017. Tüm Hakları Saklıdır.</div>
		    						    										    
			    </div>
		    </div>
			
	    </div>
	    

	    <!-- Load JS plugins file -->
 		<script type="text/javascript" src="{{ STATIC_URL }}static/comingsoon/assets.min.js"></script>
				
		<!-- general script file -->
		<script type="text/javascript" src="{{ STATIC_URL }}static/comingsoon/script.js"></script>
		
	</body>
</html>