<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="author" content="DCK"/>
    <!-- Document Title -->
    <title>Marmaris Marin Temizlik</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ STATIC_URL }}static/marmaris-marin-temizlik.jpg" type="image/x-icon">
    <link rel="icon" href="{{ STATIC_URL }}static/marmaris-marin-temizlik.jpg" type="image/x-icon">

    <!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}static/rs-plugin/css/settings.css" media="screen"/>

    <!-- StyleSheets -->
    <link rel="stylesheet" href="{{ STATIC_URL }}static/css/ionicons.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}static/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}static/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}static/css/main.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}static/css/style.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}static/css/responsive.css">

    <!-- Fonts Online -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900|Raleway:200,300,400,500,600,700,800,900"
          rel="stylesheet">

    <!-- JavaScripts -->
    <script src="{{ STATIC_URL }}static/js/vendors/modernizr.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style type="text/css">
            body, div, li, ul, a, p, h1, h2, h3, h4, h5
            {
               font-family:Helvetica,Arial,sans-serif !important;
            }
    </style>
</head>
<body>

<!-- Page Loader -->
<div id="loader">
  <div class="position-center-center">
    <div class="cssload-thecube">
      <div class="cssload-cube cssload-c1"></div>
      <div class="cssload-cube cssload-c2"></div>
      <div class="cssload-cube cssload-c4"></div>
      <div class="cssload-cube cssload-c3"></div>
    </div>
  </div>
</div>

<!-- Page Wrapper -->
<div id="wrap">
<div class="top-bar">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <p>Marmaris Marin Temizlik</p>
            </div>
            <div class="col-sm-6">
                <div class="social-icons"><a href="#."><i class="fa fa-facebook"></i></a> <a href="#."><i
                        class="fa fa-twitter"></i></a> <a href="#."><i class="fa fa-dribbble"></i></a> <a href="#."><i
                        class="fa fa-instagram"></i></a></div>
            </div>
        </div>
    </div>
</div>
  
  <!-- Header -->
  <header>
    <div class="container">
      <div class="logo"><a href="/"><img src="{{ STATIC_URL }}static/marmaris_marin_temizlik.jpg" width="150px;" height="50px;" alt=""></a></div>
      
      <!-- Nav -->
      <nav class="navbar ownmenu">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-open-btn" aria-expanded="false"> <span><i class="fa fa-navicon"></i></span> </button>
        </div>
        
        <!-- NAV -->
        <div class="collapse navbar-collapse" id="nav-open-btn">
          <ul class="nav">
            <li class="dropdown"> <a href="/" class="dropdown-toggle" data-toggle="dropdown">Anasayfa </a>
{#              <ul class="dropdown-menu multi-level">#}
{#                <li><a href="index.html">Index Defult</a></li>#}
{#                <li><a href="index-1.html">Index Version 2</a></li>#}
{#                <li><a href="index-2.html">Index Version 3</a></li>#}
{#                <li><a href="index-flex-slider.html">Index Flex Slider </a></li>#}
{#              </ul>#}
            </li>
            <li><a href="/hakkimizda">Hakkımızda </a></li>
{#            <li class="dropdown"> <a href="index.html" class="dropdown-toggle" data-toggle="dropdown">Pages </a>#}
{#              <ul class="dropdown-menu multi-level">#}
{#                <li class="dropdown-submenu"> <a href="index.html" class="dropdown-toggle" data-toggle="dropdown">Home</a>#}
{#                  <ul class="dropdown-menu animated-2s fadeInRight">#}
{#                    <li><a href="index.html">Index Defult</a></li>#}
{#                    <li><a href="index-1.html">Index Version 2</a></li>#}
{#                    <li><a href="index-2.html">Index Version 3</a></li>#}
{#                    <li><a href="index-flex-slider.html">Index Flex Slider </a></li>#}
{#                  </ul>#}
{#                </li>#}
{#                <li><a href="about.html">About Us</a></li>#}
{#                <li><a href="services.html">Services</a></li>#}
{#                <li><a href="appointment.html">Appointment </a></li>#}
{#                <li><a href="doctors.html">Doctors</a></li>#}
{#                <li><a href="doctors-profile.html">Doctors Profile</a></li>#}
{#                <li class="dropdown-submenu"> <a href="index.html" class="dropdown-toggle" data-toggle="dropdown">Gallery</a>#}
{#                  <ul class="dropdown-menu animated-2s fadeInRight">#}
{#                    <li><a href="gallery.html">Gallery </a></li>#}
{#                    <li><a href="gallery-2-col.html">Gallery 2 Col</a></li>#}
{#                    <li><a href="gallery-4-col.html">Gallery 4 Col</a></li>#}
{#                    <li><a href="gallery-5-col.html">Gallery 5 Col</a></li>#}
{#                  </ul>#}
{#                </li>#}
{#                <li class="dropdown-submenu"> <a href="index.html" class="dropdown-toggle" data-toggle="dropdown">Gallery Style 1</a>#}
{#                  <ul class="dropdown-menu animated-2s fadeInRight">#}
{#                    <li><a href="gallery-1.html">Gallery Style 1</a></li>#}
{#                    <li><a href="gallery-1-2-col.html">Gallery Style 1 2 Col</a></li>#}
{#                    <li><a href="gallery-1-4-col.html">Gallery Style 1 4 Col</a></li>#}
{#                    <li><a href="gallery-1-5-col.html">Gallery Style 1 5 Col</a></li>#}
{#                  </ul>#}
{#                </li>#}
{#                <li><a href="blog.html">Blog </a></li>#}
{#                <li><a href="blog-single.html">Blog Single </a></li>#}
{#                <li><a href="contact.html">Contact </a></li>#}
{#              </ul>#}
{#            </li>#}
{#            <li><a href="doctors.html">Doctors </a></li>#}
{#            <li><a href="appointment.html">Appointment</a></li>#}
{#            <li><a href="gallery.html">Gallery </a></li>#}
{#            <li><a href="blog.html">Blog </a></li>#}
            <li class="active"><a href="/iletisim">İLETİŞİM</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <!-- End Header --> 
  
  <!-- Bnr Header -->
  <section class="sub-bnr" data-stellar-background-ratio="0.5">
    <div class="position-center-center">
      <div class="container">
        <h3>MARMARİS MARİN TEMİZLİK</h3>
        <h1>İLETİŞİM</h1>
        
        <!-- Breadcrumb -->
        <ol class="breadcrumb">
          <li><a href="/">Anasayfa</a></li>
          <li class="active">İLETİŞİM</li>
        </ol>
      </div>
    </div>
  </section>
  
  <!-- Content -->
  <div id="content"> 
    
    <!-- Contact Us -->
    <section class="p-t-b-150"> 
      <!-- CONTACT FORM -->
      <div class="container"> 
        <!-- Tittle -->
        <div class="heading-block">
          <h4>Bizden Haberdar Olun</h4>
          <hr>
          <span>Marmaris Marin Temizlik Sosyal Medya Hesaplarımızdan, Web Sitemizden yada İletişim Bilgilerimizden Bize Ulaşabilirsiniz.</span> </div>
        <div class="contact">
          <div class="contact-form"> 
            <!-- FORM  -->
{#            <form role="form" id="contact_form" class="contact-form" method="post" onSubmit="return false">#}
{#              <div class="row">#}
{#                <div class="col-md-6">#}
{#                  <ul class="row">#}
{#                    <li class="col-sm-12">#}
{#                      <label>#}
{#                        <input type="text" class="form-control" name="name" id="name" placeholder="*Name">#}
{#                      </label>#}
{#                    </li>#}
{#                    <li class="col-sm-12">#}
{#                      <label>#}
{#                        <input type="text" class="form-control" name="email" id="email" placeholder="*Email">#}
{#                      </label>#}
{#                    </li>#}
{#                    <li class="col-sm-12">#}
{#                      <label>#}
{#                        <input type="text" class="form-control" name="company" id="company" placeholder="Phone">#}
{#                      </label>#}
{#                    </li>#}
{#                  </ul>#}
{#                </div>#}
{#                <div class="col-md-6">#}
{#                  <ul class="row">#}
{#                    <li class="col-sm-12">#}
{#                      <label>#}
{#                        <input type="text" class="form-control" name="website" id="website" placeholder="Department">#}
{#                      </label>#}
{#                    </li>#}
{#                    <li class="col-sm-12">#}
{#                      <label>#}
{#                        <textarea class="form-control" name="message" id="message" rows="5" placeholder="*Message"></textarea>#}
{#                      </label>#}
{#                    </li>#}
{#                    <li class="col-sm-12 no-margin">#}
{#                      <button type="submit" value="submit" class="btn" id="btn_submit" onClick="proceed();">SEND MESSAGE</button>#}
{#                    </li>#}
{#                  </ul>#}
{#                </div>#}
{#              </div>#}
{#            </form>#}
          </div>
        </div>
      </div>
    </section>
    
    <!-- BOXES -->
    <section class="contact-box">
      <div class="container">
        <div class="row"> 
          
          <!-- Shop Location -->
          <div class="col-md-8">
            <div class="boxes-in">
              <h6>Marmaris Marin Temizlik</h6>
              <ul class="location">
                <li> <i class="fa fa-location-arrow"></i>
                  <p>Marmaris
                    Türkiye</p>
                </li>
                <li> <i class="fa fa-phone"></i>
                  <p>AYLA YARICI</p>
                  <p>0 (544) 336 53 71</p>
                </li>
                <li> <i class="fa fa-envelope"></i>
                  <p>YILMAZ ARDA İKİZKAYA</p>
                  <p>0 (507) 809 17 80</p>
                </li>
                <li> <i class="fa fa-clock-o"></i>
                  <p>Pzt-Cum: 9AM - 6PM</p>
                  <p>Cmt-Paz: 9AM - 6PM</p>
                </li>
              </ul>
            </div>
          </div>
          
          <!-- NEWSLETTER -->
          <div class="col-md-4">
            <div class="boxes-in">
              <h6>Sosyal Medya Bağlantılarımız</h6>
              
              <!--======= FOOTER ICONS =========-->
              <ul class="social_icons">
                <li class="facebook"><a href="#."> <i class="fa fa-facebook"></i></a></li>
                <li class="twitter"><a href="#."> <i class="fa fa-twitter"></i></a></li>
                <li class="googleplus"><a href="#."> <i class="fa fa-google"></i></a></li>
{#                <li class="skype"><a href="#."> <i class="fa fa-skype"></i></a></li>#}
{#                <li class="pinterest"><a href="#."> <i class="fa fa-pinterest"></i></a></li>#}
{#                <li class="dribbble"><a href="#."> <i class="fa fa-dribbble"></i></a></li>#}
{#                <li class="flickr"><a href="#."> <i class="fa fa-flickr"></i></a></li>#}
{#                <li class="behance"><a href="#."> <i class="fa fa-behance"></i></a></li>#}
{#                <li class="linkedin"><a href="#."> <i class="fa fa-linkedin"></i></a></li>#}
                <li class="youtube"><a href="#."> <i class="fa fa-youtube"></i></a></li>
                <li class="instagram"><a href="#."> <i class="fa fa-instagram"></i></a></li>
{#                <li class="stumbleupon"><a href="#."> <i class="fa fa-stumbleupon"></i></a></li>#}
{#                <li class="soundcloud"><a href="#."> <i class="fa fa-soundcloud"></i></a></li>#}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    
{#    <!-- MAP -->#}
{#    <section class="map-block margin-top-100">#}
{##}
{#      <div class="map-wrapper" id="map-canvas" data-lat="36.8547163" data-lng="28.2738744" data-zoom="10" data-style="1" ></div>#}
{#      <div class="markers-wrapper addresses-block"> <a class="marker" data-rel="map-canvas" data-lat="36.8547163" data-lng="28.2738797" data-string="Marmaris Marin Temizlik"></a> </div>#}
{#    </section>#}
{#    </section>#}
  </div>
  
  <!-- Rights -->
  <div class="rights style-2">
    <div class="container">
      <p>© 2017 Yılmaz Arda İkizkaya</p>
    </div>
  </div>
  
  <!-- GO TO TOP  --> 
  <a href="#" class="cd-top"><i class="fa fa-angle-up"></i></a> 
  <!-- GO TO TOP  --> 
</div>
<!-- End Page Wrapper --> 

<!-- JavaScripts --> 
<!-- JavaScripts -->
{##}
{#    <script async defer#}
{#    src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap">#}
{#    </script>#}

<script src="{{ STATIC_URL }}static/js/vendors/jquery/jquery.min.js"></script>
<script src="{{ STATIC_URL }}static/js/vendors/wow.min.js"></script>
<script src="{{ STATIC_URL }}static/js/vendors/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}static/js/vendors/own-menu.js"></script>
<script src="{{ STATIC_URL }}static/js/vendors/jquery.sticky.js"></script>
<script src="{{ STATIC_URL }}static/js/vendors/owl.carousel.min.js"></script>
<script src="{{ STATIC_URL }}static/js/vendors/jquery.magnific-popup.min.js"></script>


<!-- SLIDER REVOLUTION 4.x SCRIPTS  -->
<script type="text/javascript" src="{{ STATIC_URL }}static/rs-plugin/js/jquery.tp.t.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}static/rs-plugin/js/jquery.tp.min.js"></script>
<script src="{{ STATIC_URL }}static/js/main.js"></script>

<!-- Begin Map Script--> 
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script> 
<script src="{{ STATIC_URL }}static/js/vendors/map.js"></script>

</body>
</html>