<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="Çorlu Diyetisyen Merve Dayıoğlu Bütünsel Değişim Atölyesi">
    <meta name="keywords"
          content="diyetisyen merve dayıoğlu,merve dayıoğlu, çorlu,çorlu diyetisyen, çorlu diyetisyen merve dayıoğlu, bütünsel değişim atölyesi, bütünsel değişim, diyetisyen, baby spa, kilo verme, kilo alma, sağlıklı beslenme, danışmanlık">
    <meta name="robots" content="index, follow">
    <meta name="author" content="Diyetisyen Merve Dayıoğlu">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title>Diyetisyen Merve Dayıoğlu</title>
    <!-- Stylesheets -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/revolution-slider.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="google-site-verification" content="6_23DlvXFQs0yC7lNvrhNUyc2kWt7T61Brxm98QyS5c"/>
    {#<meta name="google-site-verification" content="73ovUmoKPdbMdrkHamtNJM1fVEJX-ARQDXOzsguIp9k" />#}
    <link href="../static/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="{{STATIC_URL}}static/js/respond.js"></script><![endif]-->

    <!-- BEGIN JIVOSITE CODE {literal} -->
    <script type='text/javascript'>
        (function () {
            var widget_id = 'ctAmSZfDHX';
            var d = document;
            var w = window;

            function l() {
                var s = document.createElement('script');
                s.type = 'text/javascript';
                s.async = true;
                s.src = '//code.jivosite.com/script/widget/' + widget_id;
                var ss = document.getElementsByTagName('script')[0];
                ss.parentNode.insertBefore(s, ss);
            }

            if (d.readyState == 'complete') {
                l();
            } else {
                if (w.attachEvent) {
                    w.attachEvent('onload', l);
                } else {
                    w.addEventListener('load', l, false);
                }
            }
        })();
    </script>
    <!-- {/literal} END JIVOSITE CODE -->
</head>

<body>
<div class="page-wrapper">
    <div class="preloader"></div>
    <header class="main-header">
        <div class="auto-container clearfix">

            <nav class="main-menu">
                <div class="navbar-header">
                    <!-- Toggle Button -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="navbar-collapse collapse clearfix">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="current"><a href="/">Bütünsel Değişim Atölyesi</a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </nav>

        </div>

        <div class="open-hours">
            <div class="toggle-open-hours"><span class="fa fa-clock-o"></span> <span>BİZE ULAŞIN</span> <br>Pazartesi -
                Cuma 09:00 - 17:00
            </div>
        </div>

    </header>
    <!--End Main Header -->

    <!-- Main Slider -->
    <section id="main-slider" class="main-slider">

        <div class="tp-banner-container">
            <div class="tp-banner">
                <ul>

                    <li data-transition="fade" data-slotamount="1" data-masterspeed="1000"
                        data-thumb="images/main-slider/bg-one.jpg" data-saveperformance="off" data-title="">
                        <!-- MAIN IMAGE -->
                        <img src="{{ STATIC_URL }}static/images/banner-2.jpg" alt="" data-bgposition="center top"
                             data-bgfit="cover" data-bgrepeat="no-repeat">

                        <div class="tp-caption lfb tp-resizeme"
                             data-x="left" data-hoffset="500"
                             data-y="center" data-voffset="-100"
                             data-speed="1500"
                             data-start="500"
                             data-easing="easeOutExpo"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.01"
                             data-endelementdelay="0.3"
                             data-endspeed="1200"
                             data-endeasing="Power4.easeIn"
                             style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">
                            <div class="curved-layer light-blue"><h3>SAĞLIKLI VE KALİTELİ YAŞAM</h3></div>
                        </div>

                        <div class="tp-caption lfb tp-resizeme"
                             data-x="left" data-hoffset="530"
                             data-y="center" data-voffset="-20"
                             data-speed="1500"
                             data-start="1000"
                             data-easing="easeOutExpo"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.01"
                             data-endelementdelay="0.3"
                             data-endspeed="1200"
                             data-endeasing="Power4.easeIn"
                             style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">
                            <div class="curved-layer dark-blue"><h2>BÜTÜNSEL DEĞİŞİM ATÖLYESİ</h2></div>
                        </div>

                        <div class="tp-caption lfb tp-resizeme"
                             data-x="left" data-hoffset="470"
                             data-y="center" data-voffset="60"
                             data-speed="1500"
                             data-start="1500"
                             data-easing="easeOutExpo"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.01"
                             data-endelementdelay="0.3"
                             data-endspeed="1200"
                             data-endeasing="Power4.easeIn"
                             style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">
                            <div class="curved-layer light-blue"><a
                                    href="https://www.youtube.com/channel/UCYOzAp4vEXjRgx2mxL9RRlw"><span
                                    class="fa fa-play-circle"></span> &ensp; SİZLERİ YOUTUBE KANALIMIZA BEKLİYORUZ</a>
                            </div>
                        </div>


                    </li>

                    <li data-transition="fade" data-slotamount="1" data-masterspeed="1000"
                        data-thumb="images/main-slider/bg-two.jpg" data-saveperformance="off" data-title="">
                        <!-- MAIN IMAGE -->
                        <img src="{{ STATIC_URL }}static/images/banner-1.jpg" alt="" data-bgposition="center top"
                             data-bgfit="cover" data-bgrepeat="no-repeat">

                        <div class="tp-caption lfl tp-resizeme"
                             data-x="center" data-hoffset="0"
                             data-y="center" data-voffset="-100"
                             data-speed="2000"
                             data-start="500"
                             data-easing="easeOutExpo"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.01"
                             data-endelementdelay="0.3"
                             data-endspeed="1200"
                             data-endeasing="Power4.easeIn"
                             style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">
                            <div class="curved-layer light-blue"><h3>YAŞAM KOÇU | DOĞUM KOÇU</h3></div>
                        </div>

                        <div class="tp-caption stb tp-resizeme"
                             data-x="center" data-hoffset="0"
                             data-y="center" data-voffset="-20"
                             data-speed="2500"
                             data-start="1000"
                             data-easing="easeOutExpo"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.01"
                             data-endelementdelay="0.3"
                             data-endspeed="1200"
                             data-endeasing="Power4.easeIn"
                             style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">
                            <div class="curved-layer dark-blue"><h2>BÜTÜNSEL DEĞİŞİM ATÖLYESİ İLE HAYAT KALİTENİZİ
                                ARTTIRIN</h2></div>
                        </div>

                        <div class="tp-caption lfr tp-resizeme"
                             data-x="center" data-hoffset="0"
                             data-y="center" data-voffset="60"
                             data-speed="2000"
                             data-start="500"
                             data-easing="easeOutExpo"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.01"
                             data-endelementdelay="0.3"
                             data-endspeed="1200"
                             data-endeasing="Power4.easeIn"
                             style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">
                            <div class="curved-layer light-blue"><a
                                    href="https://www.instagram.com/butunsel_degisim_atolyesi/"><span
                                    class="fa fa-play-circle"></span> &ensp; INSTAGRAM ÜZERİNDEN BİZİ TAKİP
                                EDEBİLİRSİNİZ</a></div>
                        </div>


                    </li>

                    <li data-transition="slidedown" data-slotamount="1" data-masterspeed="1000"
                        data-thumb="images/main-slider/bg-three.jpg" data-saveperformance="off" data-title="">
                        <!-- MAIN IMAGE -->
                        <img src="{{ STATIC_URL }}static/images/banner-3.jpg" alt="" data-bgposition="center top"
                             data-bgfit="cover" data-bgrepeat="no-repeat">

                        <div class="tp-caption lfb stb tp-resizeme"
                             data-x="left" data-hoffset="242"
                             data-y="center" data-voffset="-50"
                             data-speed="2000"
                             data-start="500"
                             data-easing="easeOutExpo"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.01"
                             data-endelementdelay="0.3"
                             data-endspeed="1200"
                             data-endeasing="Power4.easeIn"
                             style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">
                            <div class="curved-layer light-pink"><h2>BABY SPA | DOĞUM KOÇU </h2></div>
                        </div>

                        <div class="tp-caption lfb stb tp-resizeme"
                             data-x="left" data-hoffset="144"
                             data-y="center" data-voffset="30"
                             data-speed="2500"
                             data-start="1000"
                             data-easing="easeOutExpo"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.01"
                             data-endelementdelay="0.3"
                             data-endspeed="1200"
                             data-endeasing="Power4.easeIn"
                             style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">
                            <div class="curved-layer dark-blue"><h3>KİLO VERME | SPORCU BESLENMESİ</h3></div>
                        </div>

                        <div class="tp-caption lfr tp-resizeme"
                             data-x="right" data-hoffset="-228"
                             data-y="center" data-voffset="-20"
                             data-speed="2000"
                             data-start="1500"
                             data-easing="easeOutExpo"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.01"
                             data-endelementdelay="0.3"
                             data-endspeed="1200"
                             data-endeasing="Power4.easeIn"
                             style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">
                            <div class="curved-layer light-blue"><h2> HASTALIK DİYETİ </h2></div>
                        </div>

                        <div class="tp-caption lfr tp-resizeme"
                             data-x="right" data-hoffset="-194"
                             data-y="center" data-voffset="60"
                             data-speed="2500"
                             data-start="2000"
                             data-easing="easeOutExpo"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.01"
                             data-endelementdelay="0.3"
                             data-endspeed="1200"
                             data-endeasing="Power4.easeIn"
                             style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">
                            <div class="curved-layer dark-blue"><h3> OBEZ BESLENMESİ </h3></div>
                        </div>

                    </li>

                </ul>
                <div class="tp-bannertimer"></div>
            </div>
        </div>
    </section>

    <!--Featured Services-->
    <section class="features-services">
        <div class="auto-container">
            <div class="row clearfix">

                <!-- Style-One -->
                <article class="col-md-4 col-sm-6 col-xs-12">
                    <div class="post style-one wow fadeInLeft" data-wow-delay="0.5s" data-wow-duration="1.5s"
                         data-wow-offset="0">
                        <div class="title-box">
                            <h2 class="clearfix"><span class="big-text pull-left">Size</span><span
                                    class="pull-left"><span class="med-text">Ne mi</span><br><span class="small-text"> Katıyoruz?</span></span>
                            </h2>
                        </div>
                        <div class="post-text">
                            Kaliteli bir yaşam, sağlıklı beslenme alışkanlığı, doğum ve sonrasında profesyonel destek.
                            Hastalıklarınızda ve hayatınızın her alanında, sizinleyiz.
                        </div>
                    </div>
                </article>

                <!-- Style Two -->
                <article class="col-md-4 col-sm-6 col-xs-12">
                    <div class="post style-two wow fadeInUp" data-wow-delay="0.5s" data-wow-duration="1.5s"
                         data-wow-offset="0">
                        <img src="{{ STATIC_URL }}static/images/banner-1.jpg" alt="">
                        <div class="title-box">
                            <h2 class="clearfix">
                                <span class="pull-left"><span class="med-text">Youtube </span><br><span
                                        class="small-text">KANALIMIZ</span></span>
                                <div class="post-text"><a class="more"
                                                          href="https://www.youtube.com/channel/UCYOzAp4vEXjRgx2mxL9RRlw"><span
                                        class="fa fa-angle-right"></span> Youtube</a></div>

                            </h2>
                        </div>
                    </div>
                </article>

                <!-- Style Three -->
                <article class="col-md-4 col-sm-12 col-xs-12">
                    <div class="post style-three wow fadeInRight" data-wow-delay="0.5s" data-wow-duration="1.5s"
                         data-wow-offset="0">
                        <img src="{{ STATIC_URL }}static/images/banner-2.jpg" alt="">
                        <div class="post-cont">
                            <div class="post-text">
                                <div><span class="med-text">INSTAGRAM</span><br><span
                                        class="small-text">HESABIMIZ</span></div>
                                Güncel paylaşımlarımız ve yeniliklerden anında haberdar olmak için bizi takip etmeyi
                                unutma.
                                <a class="more" href="https://www.instagram.com/butunsel_degisim_atolyesi/"><span
                                        class="fa fa-angle-right"></span> Instagram'a GİT</a>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </section>

    <!--Availabilty / Four Column-->
    <section class="availability four-column">
        <div class="auto-container">
            <div class="row clearfix">

                <article class="col-md-3 col-sm-6 col-xs-12">
                    <div class="block wow fadeInLeft" data-wow-delay="0.5s" data-wow-duration="1.5s"
                         data-wow-offset="0">
                        <div class="upper-rounds">
                            <div class="img-circle small-circle"><span class="icon flaticon-dumbbells10"></span></div>
                            <div class="img-circle big-circle">İHTİYACINI<br>ANLAT</div>
                            <div class="img-circle medium-circle">1<sup></sup></div>
                        </div>
                        <h3>İhtiyacını bir kaç cümle ile anlat.</h3>
                        <p>Almak istediğiniz hizmeti ve ihtiyacınız olduğunu düşündüklerinizi, bize iletişim
                            yollarımızla ulaşarak, bir kaç cümlede anlatın.</p>
                    </div>
                </article>

                <article class="col-md-3 col-sm-6 col-xs-12">
                    <div class="block wow fadeInUp" data-wow-delay="0.5s" data-wow-duration="1.5s" data-wow-offset="0">
                        <div class="upper-rounds">
                            <div class="img-circle small-circle"><span class="icon flaticon-shoes18"></span></div>
                            <div class="img-circle big-circle">DURUM<br>ANALİZİ</div>
                            <div class="img-circle medium-circle">2<sup></sup></div>
                        </div>
                        <h3>Amacınıza Özel Geri Dönüş</h3>
                        <p>İhtiyaç duyduğunuz durum ile ilgili, size özel geri dönüş ile görüşme ayarlanması.</p>
                    </div>
                </article>

                <article class="col-md-3 col-sm-6 col-xs-12">
                    <div class="block wow fadeInUp" data-wow-delay="0.5s" data-wow-duration="1.5s" data-wow-offset="0">
                        <div class="upper-rounds">
                            <div class="img-circle bigger-circle">
                                <div class="inner img-circle"><span></span><br>DANIŞMANLIK</div>
                            </div>
                        </div>
                        <h3>Program Ayarlanması</h3>
                        <p>Görüşme talebi ya da online program hizmeti kararının verilmesi ile. Fiziksel yada iletişim
                            kanalları üzerinden süreç takibinin başlatılması.</p>
                    </div>
                </article>

                <article class="col-md-3 col-sm-6 col-xs-12">
                    <div class="block wow fadeInRight" data-wow-delay="0.5s" data-wow-duration="1.5s"
                         data-wow-offset="0">
                        <div class="upper-rounds">
                            <div class="img-circle small-circle"><span class="icon flaticon-heart92"></span></div>
                            <div class="img-circle big-circle">Sağlıklı<br>Yaşam</div>
                            <div class="img-circle medium-circle">4<sup></sup></div>
                        </div>
                        <h3>Sağlıklı ve Kaliteli Yaşam</h3>
                        <p>Tüm süreçleri başarı ile tamamlayıp, müşteri memnuniyeti garantisi ile ihtiyacınıza özel
                            yönetmler ile sağlıklı ve kaliteli yaşamı yaratmak.</p>
                    </div>
                </article>

            </div>
        </div>
    </section>

    <!--Facts Counter-->
    <section class="fact-counter" style="background-image:url({{ STATIC_URL }}static/images/background/yeni.jpg);">
        <div class="auto-container">
            <div class="sec-title">
                <h3>BİZE GÜVENEN MÜŞTERİLERİMİZ</h3>
                <h2>SAĞLIKLI HAYAT / FARKI HİSSEDİN</h2>
            </div>

            <div class="row clearfix">

                <article class="col-md-3 col-sm-6 col-xs-12 block">
                    <div class="round">
                        <div class="circular-bar">
                            <input type="text" class="dial" data-fgColor="#10bcf4" data-bgColor="rgba(0,0,0,0)"
                                   data-width="172" data-height="172" data-linecap=round value="21">
                            <div class="circular-bar-content img-circle">
                                <label></label>
                            </div>
                        </div>
                    </div>
                    <p>Aktif Hastalık Beslenmesi Müşteri Sayısı</p>
                </article>

                <article class="col-md-3 col-sm-6 col-xs-12 block">
                    <div class="round">
                        <div class="circular-bar">
                            <input type="text" class="dial" data-fgColor="#10bcf4" data-bgColor="rgba(0,0,0,0)"
                                   data-width="172" data-height="172" data-linecap=round value="42">
                            <div class="circular-bar-content img-circle">
                                <label></label>
                            </div>
                        </div>
                    </div>
                    <p>Aktif Kilo Vermek İsteyen Müşteri Sayısı</p>
                </article>

                <article class="col-md-3 col-sm-6 col-xs-12 block">
                    <div class="round">
                        <div class="circular-bar">
                            <input type="text" class="dial" data-fgColor="#10bcf4" data-bgColor="rgba(0,0,0,0)"
                                   data-width="172" data-height="172" data-linecap=round value="11">
                            <div class="circular-bar-content img-circle">
                                <label></label>
                            </div>
                        </div>
                    </div>
                    <p>Kurumsal Danışmanlık Müşteri Sayısı</p>
                </article>

                <article class="col-md-3 col-sm-6 col-xs-12 block">
                    <div class="round">
                        <div class="circular-bar">
                            <input type="text" class="dial" data-fgColor="#10bcf4" data-bgColor="rgba(0,0,0,0)"
                                   data-width="172" data-height="172" data-linecap=round value="36">
                            <div class="circular-bar-content img-circle">
                                <label></label>
                            </div>
                        </div>
                    </div>
                    <p>Mutlu Baby Spa Müşteri Sayısı</p>
                </article>

            </div>
        </div>
    </section>

    <!--Main Footer-->
    <footer class="main-footer">
        <div class="auto-container">
            <!--Upper-->
            <div class="upper clearfix">
                <h2 class="pull-left">BİZİ <span>TAKİPTE KALIN</span></h2>
                <div class="social-links pull-left">
                    <a href="https://www.youtube.com/channel/UCYOzAp4vEXjRgx2mxL9RRlw"
                       class="icon fa fa-youtube wow fadeInRight" data-wow-delay="0s" data-wow-duration="1s"
                       data-wow-offset="0"></a>
                    <a href="https://www.instagram.com/dyt.mervedayioglu/" class="icon fa fa-instagram wow fadeInRight"
                       data-wow-delay="0.2s" data-wow-duration="1s" data-wow-offset="0"></a>
                </div>
            </div>

            <!--Lower-->
            <div class="lower">
                <div class="row clearfix">

                    <!--Copyright-->
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="footer-widget copyright wow fadeInUp" data-wow-delay="0.5s" data-wow-duration="1s"
                             data-wow-offset="0">
                            {#                        	<h2><img style="width: 50px; height: 50px;" src="{{STATIC_URL}}static/images/MD.png" alt="" title=""></h2>#}
                            <p>&copy; 2018 Bütünsel Değişim Atölyesi <br> Diyetisyen Merve Dayıoğlu</p>
                            <a href="https://www.instagram.com/dyt.mervedayioglu/">Instagram</a> | <a
                                href="https://www.youtube.com/channel/UCYOzAp4vEXjRgx2mxL9RRlw">Youtube</a> | <a
                                href="/">Anasayfa</a>
                        </div>
                    </div>

                    <!--Quick Links-->
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="footer-widget quick-links wow fadeInUp" data-wow-delay="1s" data-wow-duration="1s"
                             data-wow-offset="0">
                            <h2>Sosyal Medya</h2>
                            <div class="clearfix" style="text-align: center;">
                                <ul>
                                    <li><a href="https://www.instagram.com/dyt.mervedayioglu/">Instagram</a></li>
                                    <li><a href="https://www.youtube.com/channel/UCYOzAp4vEXjRgx2mxL9RRlw">Youtube</a>
                                    </li>
                                    <li><a href="/">Anasayfa</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!--Popular Tags-->
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="footer-widget popular-tags wow fadeInUp" data-wow-delay="1.5s"
                             data-wow-duration="1s" data-wow-offset="0">
                            <h2>POPÜLER ETİKETLER</h2>
                            <a href="/">Kilo verme</a>
                            <a href="/">Kilo Alma</a>
                            <a href="/">Kilo Koruma</a>
                            <a href="/">Baby Spa</a>
                            <a href="/">Sporcu Beslenmesi</a>
                            <a href="/">Kurumsal Beslenme</a>
                        </div>
                    </div>

                    <!--Contact-->
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="footer-widget contact wow fadeInUp" data-wow-delay="2s" data-wow-duration="1s"
                             data-wow-offset="0">
                            <h2>İLETİŞİM</h2>
                            <ul>
                                <li class="clearfix">
                                    <strong class="pull-left">Mail</strong>
                                    <p class="pull-right">merve.dayioglu@hotmail.com</p>
                                </li>
                                <li class="clearfix">
                                    <strong class="pull-left">Telefon</strong>
                                    <p class="pull-right">0532 660 21 85 / 0282 673 21 85</p>
                                </li>
                                <li class="clearfix">
                                    <strong class="pull-left">Adres</strong>
                                    <p class="pull-right">TKazımiye Mah. Yakut Sokak İrfan Altındal Apt No.24 Kat6 Daire 10 Çorlu / Tekirdağ</p>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>

            </div>
            <!--Lower End-->

        </div>
        <!-- Back to top Button -->
        <a href="#" class="back-to-top">
            <i class="fa fa-angle-up"></i>
        </a>
    </footer>

</div>
<!--End pagewrapper-->
<script src="../static/js/jquery.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/revolution.min.js"></script>
<script src="../static/js/bxslider.js"></script>
<script src="../static/js/jquery.appear.js"></script>
<script src="../static/js/wow.js"></script>
<script src="../static/js/knob.js"></script>
<script src="../static/js/validate.js"></script>
<script src="../static/js/script.js"></script>

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-62956010-2', 'auto');
    ga('send', 'pageview');

</script>


</body>
</html>
