<footer class="footer_area">
    <div class="footer_top_area" style="background-color:#232323;">
        <div class="container">
            <div class="footer_top_up">
                <div class="row">


        <div class="footer_widgets">
             <div class="col-md-4 col-sm-6">
                 <div class="single_footer_widgets margin-top-95">
                     <h4 class="widget_title">İletişim</h4>
                     <ul class="address_list">
                         <li>
                             <i><img src="images/map-location.png" alt=""></i>
                             <dl>
                                 <dt><strong>Adres</strong></dt>
                                 <dd>Talatpaşa Mah. Şehit Cemil Ataseven Sok. No:22 Merkez/EDİRNE</dd>
                             </dl>
                         </li>
                         <li>
                             <i><img src="images/mobile-icon.png" alt=""></i>
                             <dl>
                                 <dt><strong>Telefon</strong></dt>
                                 <dd>0534 798 98 31</dd>
                                 <dd style="padding-left: 66px;">0534 912 97 58</dd>
                             </dl>
                         </li>
                         <li>
                             <i><img src="images/message-icon.png" alt=""></i>
                             <dl>
                                 <dt><strong>E-Posta</strong></dt>
                                 <dd>emineerdem418@gmail.com</dd>
                             </dl>
                         </li>
                     </ul>
                 </div>
             </div>
             <div class="col-md-4 col-sm-6">
                 <div class="single_footer_widgets margin-top-95">
                     <h4 class="widget_title">Hizmetlerimiz</h4>
                     <ul class="industry_support">
                     <li><a href="/hizmetlerimiz" title="Edirne Taşımacılık">Evden Eve Taşımacılık</a></li>
                     <li><a href="/hizmetlerimiz" title="Şehirler Arası Evden Eve Taşımacılık">Şehirler Arası Evden Eve Taşımacılık</a></li>
                     <li><a href="/hizmetlerimiz" title="Ofis ve İşyeri Taşımacılığı">Ofis ve İşyeri Taşımacılığı</a></li>
                     <li><a href="/hizmetlerimiz" title="Fuar Standı Nakliye ve Kurulum">Fuar Standı Nakliye ve Kurulum</a></li>
                     <li><a href="/hizmetlerimiz" title="Sanat Eseri ve Antika Taşıma">Sanat Eseri ve Antika Taşıma</a></li>
                     <li><a href="/hizmetlerimiz" title="Ücretsiz Ekspertiz">Ücretsiz Ekspertiz</a></li>
                     <li><a href="/hizmetlerimiz" title="Sigortalı Evden Eve Nakliyat">Sigortalı Evden Eve Nakliyat</a></li>
                     <li><a href="/hizmetlerimiz" title="Villa Taşımacılığı">Villa Taşımacılığı</a></li>
                     <li><a href="/hizmetlerimiz" title="Tekstil Taşımacılığı">Tekstil Taşımacılığı</a></li>
                     <li><a href="/hizmetlerimiz" title="Kamu Kurum Taşıma">Kamu Kurum Taşıma</a></li>
                     <li><a href="/hizmetlerimiz" title="Piyano Taşıma">Piyano Taşıma</a></li>
                     <li><a href="/hizmetlerimiz" title="Mağaza Taşımacılığı">Mağaza Taşımacılığı</a></li>
                     <li><a href="/hizmetlerimiz" title="Para Kasası Taşıma">Para Kasası Taşıma</a></li>
                     <li><a href="/hizmetlerimiz" title="Dershane Taşımacılığı">Dershane Taşımacılığı</a></li>
                     <li><a href="/hizmetlerimiz" title="Depo ve Fabrika Taşımacılığı">Depo ve Fabrika Taşımacılığı</a></li>

                     </ul>
                 </div>
             </div>

             <div class="col-md-4 col-sm-6">
                 <div class="single_footer_widgets margin-top-95">
                     <h4 class="widget_title">Edirne Taşımacılık</h4>
                     <ul class="about_us">
                             <p>Edirne Taşımacılık olarak mutluyuz çünkü sizlerin güveninizi kazanıyoruz. Yıllardır kalite çizgisini bozmadan yoluna emin adımlarla devam eden Edirne Taşımacılık bu sektörde hizmet veren firmalar arasında referans müşteri potansiyeli en fazla talep gören firmalar arasında yer almaktadır.  </p>
                             <a href="/hakkimizda" title="hakkımızda">Devamını Oku<i class="fa fa-angle-double-right"></i></a>

                     </ul>
                 </div>
             </div>

         </div>
   


                </div>
            </div>

        </div>
    </div>
    <div class="footer_bottom_area">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="footer_bottom_center">
                        <p  style="color:white;">Copyright © 2018 Tüm Hakları Saklıdır. Dogruyer A.Ş.</p>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6">
                    <ul class="footer_social_icons" style="float:right !important;">
                        <li><a href="https://www.facebook.com/evdeneveedirne"><i class="fa fa-facebook" style="border: 3px solid #3B5998; color: #3B5998; width: 39px; height: 39px; font-size: 21px;"></i></a></li>

                    </ul>
                </div>
           </div>
        </div>
    </div>
</footer>

