<header class="header_area">

    <div class="header_logo_area">
        <div class="container">
            <div class="row">
                <div class="header_logo clearfix">
                    <div class="col-md-5 col-sm-3">
                        <div class="site_logo">
                            <a href="/"><img src="~/images/logo.png" alt="site logo"></a>
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-9">
                        <div class="row">
                            <div class="header_top_service clearfix">
                                <div class="col-md-4 col-sm-4">
                                    <div class="header_we_are clearfix">
                                        <dl>
                                            <dt><strong>ADRES</strong></dt>
                                            <dd>
                                                Talatpaşa Mah.
                                                Şehit Cemil Ataseven Sok.
                                                No:22 Merkez/EDİRNE
                                            </dd>
                                        </dl>
                                        <i><img src="images/we-are-here.png" alt=""></i>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <div class="header_we_are clearfix">
                                        <dl>
                                            <dt><strong>İLETİŞİM</strong></dt>
                                            <dd>0534 798 98 31</dd>
                                            <dd>0534 912 97 58</dd>
                                        </dl>
                                        <i><img src="images/call-us-on.png" alt=""></i>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <div class="header_we_are clearfix">
                                        <div class="social">
                                            <button class="icon-btn facebook">
                                                <a class="link" href="https://www.facebook.com/evdeneveedirne" target="_blank">
                                                    <i class="fa fa-facebook" style="padding-right: 20px;"></i>
                                                </a>
                                            </button>
                                        </div>

                                    </div>
                                </div>
                           </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header_bottom_area" style="background-color:#243f9b;">
        <div class="container">
            <div class="row">
                <div class="main_menu">
                    <nav class="navbar navbar-default">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <!-- <a class="navbar-brand" href="#"><img src="img/logo-seven.png" alt=""></a> -->
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li> <a href="@Url.RouteUrl("anasayfa")">Anasayfa</a></li>
                                <li><a href="@Url.RouteUrl("hakkimizda")">HAKKIMIZDA</a></li>
                                <li><a href="@Url.RouteUrl("hizmetlerimiz")">HİZMETLERİMİZ</a></li>
                                <li><a href="@Url.RouteUrl("iletisim")" style="background-color:#ff0000;">İLETİŞİM</a></li>
                            </ul>


                        </div><!-- /.navbar-collapse -->
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>

